.title{
    text-align: center;
    font-size: 64px;
    color: aqua;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #060621;
}

.gameName{
    color: aquamarine;
}

.gameNameIndev{
    color: darkviolet;
}


div.game{
    margin: auto;
    width: 380px;
    background-color: #10192c;
}

p.gameList{
    font-size: 15px;
    display: block;
    margin-top: 5px;
}
summary.gameList{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace
}
img.platform{
    width: 15px;
    height: 15px;

    alt: "The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License.";
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button.download{
    border-radius: 8px;
    border-width: 0px;
    background-color: #112c70;
    color: #697186;
    font-weight: bold;
    height: 25px;
}
button.play{
    border-radius: 8px;
    border-width: 0px;
    background-color: #112c70;
    color: #697186;
    font-weight: bold;
    height: 25px;
}
h1.credits{
    color: #69718667;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/*Navigation Bar*/

button {
    font-family: inherit
}

ul {
    position: fixed;
    list-style-type: none;
    padding: 0;
    background-color: #333;
    margin: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active):not(li#github a):not(.home) {
    background-color: #1c8d75;
}

li a.home {
    font-size: 48px;
    background-color: #40c5d6;
}

li#github a img {
    width: 32px;
    height: 32px;
}

li#github {
    float: right;
}

li#signature {
    /* Center the text horizontally on the screen */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Fonts etc */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 20px;
    text-decoration: none;
}

.active:not(.home) {
    background-color: #18c0d6;
}