.title {
    text-align: center;
    font-size: 64px;
    color: aqua;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #060621;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	margin: 1rem;
	flex-grow: 1;
}

.gameName {
    color: aquamarine;
}

.gameNameIndev {
    color: darkviolet;
}

div.game {
    margin: auto;
    width: 380px;
    background-color: #10192c;
}

p.gameList {
    font-size: 15px;
    display: block;
    margin-top: 5px;
}

summary.gameList {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

img.platform {
    width: 15px;
    height: 15px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button.download {
    border-radius: 8px;
    border-width: 0px;
    background-color: #112c70;
    color: #697186;
    font-weight: bold;
    height: 25px;
}

button.play {
    border-radius: 8px;
    border-width: 0px;
    background-color: #112c70;
    color: #697186;
    font-weight: bold;
    height: 25px;
}

h1.credits {
    color: #69718667;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

button.download:hover, button.play:hover {
    background-color: #1c8d75;
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}