/* Color Palette
    #56a1d8 Attention
    #2945af FG
    #182e59 BG
    #f2f2f2 FONT
*/

@font-face {
    font-family: 'Munro';
    src: url(/resources/fonts/Munro/Munro-2LYe.ttf) format('truetype'),
         url(/resources/fonts/Munro/MunroNarrow-vaO4.ttf);
}

@font-face {
    font-family: 'Munro Small';
    src: url(/resources/fonts/Munro/MunroSmall-wPZw.ttf) format('truetype');
}

body {
    background-color: #182e59;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f2f2f2;
}

.topnav {
    background-color: #2F3480;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    color: #f2f2f2;
    padding: 18px 32px;
}

.topnav a:active {
    background-color: #2945af;
}

.topnav .icon {
    display: none;
    padding: 17.5px; /* This gives us 64 pixels of topnav bar space :D */
}

nav a.active {
    background-color: #56a1d8;
}

.topnav a.icon {
    background: none;
}

#navbar-logo {
    background: none;
    display: block;
    padding: 9px;
    margin: auto;
}

#navbar-logo img {
    height: 40px;
    padding: 0;
}

/* Wide screen */
@media screen and (min-width: 800px) {
    #navbar-home {
        display: none;
    }
}

/* Top Bar View*/
@media screen and (max-width: 800px) {
    .topnav a { display: none; }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* List View */
@media screen and (max-width: 800px) {
    .topnav.responsive { position: relative; }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: #2945af;
        height: auto;
    }
}