:root {
	--topnav-height: 4rem;
	--topnav-font-size: 1.5rem;

	--nav-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	--sidebar-width: 100vw;
}

body {
	/* Offset body so topnav doesn't cover its content */
	margin-top: var(--topnav-height);
}

#topnav {
	position: fixed;
	display: flex;
	top: 0;
	right: 0;
	left: 0;
	height: var(--topnav-height);
	z-index: 1;

	background: none;
	-webkit-backdrop-filter: blur(48px); /* I hate safari */
	backdrop-filter: blur(48px);

	* {
		box-sizing: border-box;
		display: flex;
		align-items: center;
	}

	#left,
	#right {
		flex-basis: 50%;

		@media screen and (max-width: 791px) {
			display: none;
		}
	}

	#left {
		justify-content: right;
	}

	#right {
		justify-content: left;
	}

	.home {
		/* Hide dashes on small displays */
		@media screen and (min-width: 792px) {
			&::before,
			&::after {
				content: "";
				margin: 16px;
				width: 32px;
				height: 4px;
				border-radius: 4px;
				background-color: white;
			}

			/* Fade effect concept */
			/* &::before {
				background: linear-gradient(to right, #f2f2f2 20%, transparent);
			}
			&::after {
				background: linear-gradient(to right, transparent, #f2f2f2 80%);
			} */
		}

		/* Need to manually center the logo on small displays, because #left and #right are not present */
		@media screen and (max-width: 791px) {
			position: fixed;
			left: 50%;
			transform: translate(-50%, 0);
		}

		img {
			height: calc(var(--topnav-height) * 0.75);
			padding: 0;
			image-rendering: pixelated;
		}
	}

	a {
		padding: 0 1rem;
		font-size: var(--topnav-font-size);
		height: var(--topnav-height);

		transition: all 0.2s ease;

		color: var(--col-font);
		text-decoration: none;
		font-family: var(--nav-font-family);

		/* Detect touchscreen. */
		/* The hover animations look bad on touchscreen */
		@media (hover: hover) {
			&:hover {
				background-color: var(--col-btn-hover);
			}

			&:active {
				background-color: var(--col-btn-active);
			}
		}
	}

	#menuToggle {
		position: fixed;
		width: var(--topnav-height);
		height: var(--topnav-height);
		display: flex;
		align-items: center;
		justify-content: center;

		border: none;
		background: none;

		transition: all 0.2s ease;

		i {
			font-size: 2rem;
			color: var(--col-font);

			transition: all 0.2s ease;
		}

		/* Detect (the absence of a) touchscreen */
		/* The hover animations look bad on touchscreen */
		@media (hover: hover) {
			&:hover {
				background-color: var(--col-btn-hover);
			}

			@media (prefers-reduced-motion: no-preference) {
				&:hover i {
					transform: rotate(-10deg);
				}
			}
		}

		@media screen and (min-width: 792px) {
			display: none;
		}
	}

	&.sidebar-shown #menuToggle {
		@media (prefers-reduced-motion: no-preference) {
			i {
				transform: rotate(180deg);
			}
			@media (hover: hover) {
				&:hover i {
					transform: rotate(185deg);
				}
			}
		}
	}
}

@media screen and (min-width: 792px) {
	#sidebar {
		visibility: hidden;
	}
}

#sidebar {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: calc(var(--topnav-height) * -1);
	bottom: -100vh;
	left: calc(var(--sidebar-width) * -1);
	padding-bottom: 100vh;
	padding-top: calc(var(--topnav-height) * 2);

	background-color: black;

	transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
	@media (prefers-reduced-motion) {
		transition: none;
	}

	/* Hidden / Shown */
	width: var(--sidebar-width);
	&.shown {
		left: 0;
	}

	* {
		padding: 0 2rem;
		font-size: var(--topnav-font-size);
		height: 4rem;
	}

	a {
		display: flex;
		align-items: center;
		color: var(--col-font);
		text-decoration: none;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		flex-shrink: 0;

		&::before {
			content: ">";
			margin-left: -20vw;
			margin-right: 20vw;
		}
		/* Doesn't work when the @media query is in &::before */
		/* Not exactly sure why lol */
		@media (prefers-reduced-motion: no-preference) {
			&::before {
				transition: all 0.2s ease;
			}
		}

		&:hover {
			background-color: var(--col-btn-hover);
			&::before {
				content: ">";
				margin-left: 0;
				margin-right: 0.5rem;
			}
		}

		&:active {
			background-color: var(--col-btn-active);
		}
	}

	.bottom {
		display: flex;
		flex-basis: 100%;
		flex-direction: column;
		justify-content: flex-end;
	}

	.randomText {
		font-size: 1rem;
		text-align: center;
	}
}
