.title{
    text-align: center;
    font-size: 500%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aqua;
}

body{
    background: linear-gradient(rgb(0, 17, 255), rgb(60, 16, 143));
}

.icon{
    display: inline-block;
    text-align: center;
}

.gameName{
    color: aquamarine;
}

.gameNameIndev{
    color: darkviolet;
}
.redirect{
    color: coral;
    text-align: right;
    font-size: 30px;
    border-radius: 5px;
}